* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../public/img/fondo_login.jpeg");
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
  /* Espaciado interior del encabezado */
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

header img {
  width: 80px;
  height: 80px;
}


.contenido-formu {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
  height: 500px;
  max-width: 900px;
  transition: all 1s ease;
  margin: 10px;
}

.info {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background: rgba(7, 7, 7, 0.6);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.info-2 {
  width: 100%;
  padding: 0 30px;
}

.info-2 h2 {
  font-size: 2.5rem;
  color: #ffffff;
}

.info-2 p {
  margin: 15px 0;
  color: #ffffff;
}

.info-2 input {
  background-color: transparent;
  outline: none;
  border: solid 2px rgb(255, 102, 0);
  border-radius: 20px;
  padding: 10px 20px;
  color: rgb(255, 102, 0);
  cursor: pointer;
  transition: background-color .3s ease;
}

.info-2 input:hover {
  background-color: rgb(255, 102, 0);
  border: none;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.info-formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  /* Blanco con 80% de opacidad */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

.info-formulario-2 {
  padding: 0 30px;
  max-width: 400px;
}

.info-formulario-2 h2 {
  color: #333;
  font-size: 2rem;
}

.info-formulario-2 p {
  color: #555;
}

.form {
  margin: 30px 0 0 0;
}

.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.boton-inicio {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form label input {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #757575;
}

.form label i {
  color: #a7a7a7;
}

.form input[type="submit"] {
  background-color: rgb(255, 102, 0);
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form input[type="submit"]:hover {
  background-color: #7a7a9a;
}

/*Esto hace que se muevan los dos contenedores arriba y abajo.*/
.hide {
  position: absolute;
  transform: translateY(-300%);
}



/*RESPONSIVE FORM*/

@media screen and (max-width:750px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width:580px) {
  html {
    font-size: 15px;
  }

  .contenido-formu {
    height: auto;
    flex-direction: column;
  }

  .info {
    width: 100%;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0;
  }

  .info-formulario {
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
  }
}

.color-textarea {
  width: 50%;
}