* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Estilos del logo */
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    /* Asegura que el logo esté por encima de la overlay */
}

.logo img {
    width: 100px;
    /* Ajusta el tamaño del logo */
    height: auto;
}

.logo a {
    text-decoration: none;
    font-size: 18px;
    color: #ff5722;
    margin-left: 10px;
    vertical-align: middle;
}

/* Estilos del contenedor de la información del usuario */
.user-info {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 15px;
    /* Ajuste del espacio interno */
    border-radius: 5px;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los elementos dentro del div */
}

/* Estilo para el texto de bienvenida */
.user-info p {
    margin-bottom: 10px;
    /* Separar el texto del botón */
}

/* Estilos para el botón de cerrar sesión */
.user-info input[type="submit"] {
    padding: 8px 15px;
    font-size: 0.9em;
    background-color: rgb(229, 115, 39);
    /* Si deseas un color de fondo específico */
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

/* Cambiar el color del botón al pasar el ratón */
.user-info input[type="submit"]:hover {
    background-color: #d77932;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../Public/Img/area_personal2.jpeg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    max-width: 90%;
    width: 400px;
}

.options h1 {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    padding: 12px 20px;
    text-align: center;
    color: #fff;
    background-color: rgb(229, 115, 39);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.button:hover {
    background-color: #d77932;
}

@media (max-width: 768px) {
    .options {
        width: 85%;
        padding: 30px;
    }

    .options h1 {
        font-size: 1.6em;
    }

    .button {
        font-size: 1em;
    }
}