<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>
    <link rel="stylesheet" href="../Css/registro_correcto.css">
    <link rel="icon" href="../../Public/Img/logo2.jpg" type="image/png">
</head>

<body>
    <div class="container">
        <h1>¡Registro Exitoso!</h1>
        <p>Has registrado tus datos correctamente. Gracias por tu registro.</p>
        <a href="../Php/login.php" class="button">Iniciar sesión</a>
    </div>
</body>

</html>